*{
    margin: 0;
}

body {
    background-color: #f0f0f0;
    font-family: sans-serif;
}

header {
    padding: 30px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 5px 5px #464646ce;
    border-bottom: solid 0.5px;
}

header span {
    color: green;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin: 0 15px
}

.vignette {
    width: 30%;
    margin-bottom: 60px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 2px 5px 3px #464646ce;
}

.vignette>*{
    padding: 5px 15px;
}

.vignette h1{
    margin-top: 30px;
    font-size: 25px;
}

.vignette button {
    margin: 10px 15px;
    margin-bottom: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
}

.vignette p {
    font-size: 14px
}

.vignette p:last-of-type{
    color: #bbbbbb;
}

#vignettes {
    padding: 30px 15%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}